extends layout

block content
  h1= title

  input(id='title', placeholder='Enter Title', type='text')
  input(id='description', placeholder='Enter Description', type='text')
  button(id='submit') Submit

  ul(class='itemList')
    - each item in items
      li(data-id= item._id)
        input(type='text', value= item.title, class='itemTitle itemInput')
        input(type='text', value= item.description, class='itemDescription itemInput')
        p(class='edit') update
        p(class='delete') delete
