doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  script(src='http://yui.yahooapis.com/3.17.2/build/yui/yui-min.js')
  script(src='../javascripts/list.js')