body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#box {
	background: orange;
}

.itemInput {
  border: 0;
}

.itemInput:focus {
  border: 1px solid #666;
  outline: none;
}

.edit,
.delete {
  cursor: pointer;
}